<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <style type="text/css">
    A:link {
      text-decoration: none;
      color: black;
    }

    A:visited {
      text-decoration: none;
      color: black;
    }

    A:hover {
      text-decoration: none;
      color: red;
    }
  </style>
  <style>
    body {
        background: #ffffff;
        padding: 20px 0;
    }

    #login-form > div {
        margin: 15px 0;
    }

</style>
  <likn rel="shortcut icon" type="image/x-icon" href="favicon-16x16.png">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="main"><img src="favicon-32x32.png" alt="main" style= "height:26px; width:26px"/></a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">A menu
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">One</a>
            </li>
            <li>
              <a href="#">Two</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">B menu
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">One</a>
            </li>
            <li>
              <a href="#">Two</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Log
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li>
              <li>
                <a href="login">Log In</a>
              </li>
              <li>
                <a href="signup">Sign Up</a>
              </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="panel panel-collaspe col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel-heading">
      <div class="panel-title">LogIn</div>
    </div>
    <form action="/login" method="post" class="panel-body">
    <div>
      <input type="text" class="form-control" name="username" placeholder="ID"autofocus>
      <p></p>
    </div>
    <div>
      <input type="password" class="form-control" name="password" placeholder="PW">
      <p></p>
    </div>
    <div>
      <button type="submit" class="form-control btn btn-primary pull-left">LogIn</button>
      <a href="signup">
      <button type="button" class="form-control btn btn-primary pull-right">SignUp</button>
    </a>
  </div>
  </form>
</div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
