
html
  head
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")

  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand SCREENDOOR
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/main') Main
            li
              a(href='/board/1') Board
            if id
              li
                a.btn-danger(href='/logout') Logout
            else
              li
                a.btn-warning(href='/login') Login
              li
                a.btn-warning(href='/signup') Signup
    .container
      table.table.table-bordered
        thead
          caption Write
        tbody
          form(action='/update', method='post', enctype='multiplart/form-data')
            tr
              th.col-md-1 Title
              td
                input(type='text', placeholder=results.title, name='title')
            tr
              th.col-md-1 Content
              td
                textarea(cols='10', placeholder=results.content, name='content')
                input(type='hidden' name='no' value=results.no)
            tr
              td(colspan='2')
                input(type='submit')
                input(type='button', value='List', onclick="javascript:location.href='/board'")
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
