doctype html
html
  head
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")

  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand SCREENDOOR
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/main') Main
            li
              a(href='/board/1') Board
            if id
              li
                a.btn-danger(href='/logout') Logout
            else
              li
                a.btn-warning(href='/login') Login
              li
                a.btn-warning(href='/signup') Signup
    div
      a.btn.btn-primary.pull-left(href='/Main') Main
      a.btn.btn-primary.pull-left(href='/Board/1') Board
      br
      hr
    p
      h1 Title
        p.text-primary
          =results.title
    hr
    p
      h1 Contents
        p.text-primary
          =results.content
    hr
    if results.id == id
      a.btn.btn-danger.pull-right(href='/delete/'+ results.no + '/' + results.id) Delete
      a.btn.btn-warning.pull-right(href='/update/'+ results.no + '/' + results.id) Update

    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
